#Home {
  background-color: #f2d2d5;
  padding: 0 5%;
}

.piano {
  height: 400px;
  width: 100%;
}

@media only screen and (max-width: 800px) {
.piano {
  height: 200px;
  }
}

$colours: red, orange, yellow, green, blue, indigo, violet;

@each $colour in $colours {
  .ReactPiano__Key--active#note-#{$colour} {
      background: $colour;
  }
}

.musicalTypingSwitch {
  text-align: left;
  width: fit-content;
  margin-top: 16px;
}