/* PianoDarkTheme */

.PianoDarkTheme .ReactPiano__Key--accidental {
    background: #555;
    /* border: 1px solid #888; */
  }
  .PianoDarkTheme .ReactPiano__Key--natural {
    background: #013243;
    border: 1px solid #888;
    /* margin-right: 0; */
  }
  .PianoDarkTheme .ReactPiano__Key--active.ReactPiano__Key--accidental {
    background: #0396ca;
  }
  .PianoDarkTheme .ReactPiano__Key--active.ReactPiano__Key--natural {
    background: #0396ca;
  }

  .ReactPiano__Keyboard {
    height: 200px;
  }
  
  .ReactPiano__Key--active.ReactPiano__Key--accidental {
    background: #0396ca;
  }