.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* background-image: url('./images/placeholderHomeBackground.jpg'); */
  /* background-size: cover; */
}

.App-link {
  color: #09d3ac;
}

html, #root, body, .App, .App>div {
  height: 98%
}

.header {
  min-height: 100px;
  width: 100%;
  position: relative;
  top: 0;
  background:white;
  padding-top: 16px;
  color:steelblue;
  background-image: url('./images/header.png');
  background-size: cover;
  /* font-family: 'Concert One', cursive; */
  font-family: 'Open Sans', sans-serif;
  z-index: 5;
}

.navbar {
  font-size: 1em;
}

a p {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.navbar a {
  padding: 0 16px;
  padding-bottom: 5px;
  color: #5F4813;
}

a {
  cursor: pointer;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top {
  align-items: flex-end;
}

.textarea {
  padding: 16px;
}

h1 {
  font-size: 3.5rem;
}


.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

#About {
  background-color:#cceffc;
}

#Pricing {
  background-color: #cbecdb;
}

#Contact {
  background-color: #fdd4e6
}

.section {
  /* min-height: 300px; */
  text-align: center;
}

.quote {
  background-color: whitesmoke;
  font-weight: 100;
  width: 50%;
  margin-left: 25%;
}

.quoteBubble {
  position: relative;
  text-align: center;
}

.bubble {
  height: 150px;  
  width: 300px;
  margin: 16px;
}

.quoteBubble p {
  color: black;
  font-size: 1em;
  font-weight: 100;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quoteMark {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-fluid {
  display: inline-grid;
  align-items: center;
}

p {
  font-size: 1em;
  font-weight: 100;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 16px;
}

#contactEmail {
  font-weight: 100;
  font-size: 1.5em;
}

#mailIcon {
  width: 25px;
  margin-right: 8px;
  margin-bottom: 4px;
}



@media only screen and (max-width: 768px) {
  div.container-fluid {
    height: auto;
  }
}

@media only screen and (max-width: 530px) {
  #contactEmail {
    font-size: 1em;
  }
  .bubble {
    width: 50%;
  }
}
