.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* background-image: url('./images/placeholderHomeBackground.jpg'); */
  /* background-size: cover; */
}

.App-link {
  color: #09d3ac;
}

html, #root, body, .App, .App>div {
  height: 98%
}

.header {
  min-height: 100px;
  width: 100%;
  position: relative;
  top: 0;
  background:white;
  padding-top: 16px;
  color:steelblue;
  background-image: url('./images/colourCorner.png');
  background-size: cover;
  font-family: 'Concert One', cursive;
  z-index: 5;
}

.navbar {
  font-family: 'Concert One', cursive;
}

.navbar a {
  padding: 16px;
}

.textarea {
  color: white;
  padding: 16px;
}

h1 {
  font-size: 3.5rem;
}

#Home {
  background-color: rgb(246, 195, 41, 0.72);
}

#About {
  background-color:#f84a4a;
}

#Pricing {
  background-color: #8dda6c;
}

#Contact {
  background-color: #4ba0d5
}

.section {
  /* min-height: 300px; */
  text-align: center;
}

/* .container img {
  vertical-align: middle;
} */

.quote {
  background-color: #b5e3ff;
  font-weight: 100;

}

.quote p {
  color: black;
  font-size: 1em;
  font-weight: 100;
  padding: 10px;
}

.container-fluid {
  display: inline-grid;
  align-items: center;
}

p {
  font-size: small;
  font-weight: 100;
}