.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* background-image: url('./images/placeholderHomeBackground.jpg'); */
  /* background-size: cover; */
}

.App-link {
  color: #09d3ac;
}

.header {
  min-height: 150px;
  width: 100%;
  position: fixed;
  top: 0;
  background:white;
  padding-top: 16px;
  color:steelblue;
  background-image: url('./images/colourCorner.png');
  background-size: cover;
  font-family: 'Concert One', cursive;
  z-index: 5;
}

.textarea {
  color: white;
  padding: 16px;
}

h1 {
  font-size: 3.5rem;
}

body {
    padding-top: 77px;
}

#Home {
  background-color: rgb(246, 195, 41, 0.72);
}

#About {
  background-color:#f84a4a;
}

#Pricing {
  background-color: #8dda6c;
}

#Contact {
  background-color: #4ba0d5
}

.section {
  min-height: 300px;
  text-align: center;
}

/* .container img {
  vertical-align: middle;
} */

.quote {
  background-color: #b5e3ff;
}

.quote p {
  color: black;
  font-size: 1.5em;
  padding: 10px;
}